.popup {
  width: 98vw;
  height: 100vh;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: .55s opacity, .55s visibility;
}

@media (max-width: 1024px) {
  .popup {
    width: 96vw;
  }
}

@media (max-width: 412px) {
  .popup {
    width: 94vw;
  }
}
