.portfolio__about {
  margin: 0;
  padding: 0;
  height: 18px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  grid-area: about;
}

@media (max-width: 425px) {
  .portfolio__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
