.popup__container {
  display: grid;
  grid-template-columns: 430px 40px;
  grid-template-rows: 40px 330px;
  grid-template-areas:
  ". button-close"
  "form .";
}

@media (max-width: 520px) {
  .popup__container {
    grid-template-columns: 256px 26px;
    grid-template-rows: 26px 322px;
    row-gap: 14px;
    grid-template-areas:
    ". button-close"
    "form form";
  }
}
