.portfolio__name {
  margin: 0;
  padding: 0;
  height: 39px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: name;
}

@media (max-width: 425px) {
  .portfolio__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    height: 26px;
  }
}
