.portfolio__photo-info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  grid-template-areas:
  "name button"
  "about about";
  row-gap: 16px;
  column-gap: 18px;
  align-items: flex-end;
}
